NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_ALLOW_INDEXING="false"
NEXT_PUBLIC_CONTACT_EMAIL="Dyt.utkukarakoc@outlook.com"
NEXT_PUBLIC_PHONE="0554 206 21 26"
NEXT_PUBLIC_WHATSAPP_NUMBER="905542062126"
NEXT_PUBLIC_CITY=""
NEXT_PUBLIC_OFFICE_ADDRESS=""
NEXT_PUBLIC_INSTAGRAM_URL="https://www.instagram.com/dyt.utkukarakoc/"
NEXT_PUBLIC_LINKEDIN_URL=""
NEXT_PUBLIC_BOOKING_URL=""
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=""
CONTACT_TO_EMAIL="semihcanbaz431043@gmail.com"
CONTACT_FROM_EMAIL=""
RESEND_API_KEY=""
